<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <array>
          <string>Ahmad Rizki Maulana</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Rizki_MO</string>
          <string></string>
          <string>Coding Basic</string>
    </array>
    <array>
          <string>Albert Pangestu</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Albert_MO</string>
          <string>Ideation.
Speak English.
UI and UX Design.</string>
          <string>Programming Basics.</string>
    </array>
    <array>
          <string>Alifudin Aziz</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Aziz_MO</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Amelia Verina Siswanto</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Design</string>
          <string>Amelia_MO</string>
          <string>Swift, UI/UX Design, Public Speaking, English Practice</string>
          <string>Design, Interior &amp; Architecture Design.</string>
    </array>
    <array>
          <string>Angela Priscila Montolalu</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Design</string>
          <string>Angel_MO</string>
          <string>UI/UX Design, Swift, English Speaking</string>
          <string>Graphic Design (Branding)</string>
    </array>
    <array>
          <string>Ardy Stephanus</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Ardy_MO</string>
          <string></string>
          <string>Basic Coding, Basic Swift</string>
    </array>
    <array>
          <string>Arifin Firdaus</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Arifin_MO</string>
          <string></string>
          <string>iOS Development (UIKit), Clean Code </string>
    </array>
    <array>
          <string>Arnold Pangestu</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Arnold_MO</string>
          <string></string>
          <string>Coding, Basic UI/UX Game Design, Unity;</string>
    </array>
    <array>
          <string>Audhy Virabri Kressa</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Audhy_MO</string>
          <string></string>
          <string>- basic wift
- git version controller
- parsing data</string>
    </array>
    <array>
          <string>Baby Amelia Andina Putri</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Other</string>
          <string>Baby_MO</string>
          <string>- Swift 
- xCode
- UI/UX design</string>
          <string>Business insights, public speaking and presentation skill, basic design.</string>
    </array>
    <array>
          <string>Bagus Setiawan</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Bagus_MO</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Benyamin Rondang Tuahta</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Ben_MO</string>
          <string>Leading &amp; trailing swipe action</string>
          <string>Basic coding</string>
    </array>
    <array>
          <string>Dinie P Hemas</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Dinie_MO</string>
          <string>Public speaking, English</string>
          <string>Basic coding, UI pattern</string>
    </array>
    <array>
          <string>Dionesia Nadya Dewayani</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Design</string>
          <string>Nadya_MO</string>
          <string></string>
          <string>Illustration</string>
    </array>
    <array>
          <string>Edward da Costa</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Edward_MO</string>
          <string>Design , Advance Code</string>
          <string>Basic Code</string>
    </array>
    <array>
          <string>Faris Rasyadi Putra</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Faris_MO</string>
          <string></string>
          <string>Unity 3D Programmer</string>
    </array>
    <array>
          <string>Ferdinan Linardi</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Design</string>
          <string>Ferdinan_MO</string>
          <string>Swift, UI/UX Design, Copywriting, Public Speaking, English Practice</string>
          <string>Ilustration, Graphic Design, Fashion Styling</string>
    </array>
    <array>
          <string>Geraldine Janice Wibisono</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Design</string>
          <string>Janice_MO</string>
          <string>Intermediate coding, translating design into code</string>
          <string>Graphic design, Illustration</string>
    </array>
    <array>
          <string>Hana Christina Rondoh</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Design</string>
          <string>Hana_MO</string>
          <string>XCode, Swift, UI/UX Design, English Practice, English Public Speaking, English copywriting</string>
          <string>Fashion design, Graphic design, Fashion business and styling</string>
    </array>
    <array>
          <string>Henry Christanto Sutjiono</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Design</string>
          <string>Henry_MO</string>
          <string>Basic Coding for XCode, designing prototype with Sketch</string>
          <string>Photography, Copywriting &amp; Advertising</string>
    </array>
    <array>
          <string>Ibrahim Yunus Muhammad Fiqhan</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Fiqhan_MO</string>
          <string>English, Graphic Design, Custom Component in Swift (Star Rating)</string>
          <string>Basic programing, Object Oriented Programing (OOP), Software Design Pattern</string>
    </array>
    <array>
          <string>James Tirto</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Other</string>
          <string>James_MO</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Janice Budihartono</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>J&apos;Ice_MO</string>
          <string>Auto layout, Intermediate Swift Code (maybe), Design</string>
          <string>- Code
- English</string>
    </array>
    <array>
          <string>Jeffrey Phinardi Kosasih</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Jep_MO</string>
          <string>Public Speaking, Xcode (Constraint, Chat Feature, and Verification Code)</string>
          <string>Youtube content, Pr, Ph, Ai, Basic coding, </string>
    </array>
    <array>
          <string>Jeffry Sandy Purnomo</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Jeffry_MO</string>
          <string>Swift UI
</string>
          <string>Basic Code, Basic Sketch</string>
    </array>
    <array>
          <string>Jesslyn Faustina</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Design</string>
          <string>Jesslyn_MO</string>
          <string>Intermediate coding</string>
          <string>Graphic Design</string>
    </array>
    <array>
          <string>Josephine Sugiharto</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Design</string>
          <string>Jose_MO</string>
          <string>Basic Coding</string>
          <string>Branding, Graphic Design</string>
    </array>
    <array>
          <string>Karina Enny Agustina</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Other</string>
          <string>Karina_MO</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Leonora Jeanifer</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Other</string>
          <string>Jean_MO</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Lois Pangestu</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Lois_MO</string>
          <string></string>
          <string>Basic Coding, Basic Swift, Idea</string>
    </array>
    <array>
          <string>M. Rizky Hidayat</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Rizky_MO</string>
          <string>- English speak
- Swift code style
- Self management
</string>
          <string>Basic Code, SysAdmin</string>
    </array>
    <array>
          <string>Martin Ivo Hardinoto</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Martin_MO</string>
          <string></string>
          <string>- Basic swift

- Ask me everything about covid-19</string>
    </array>
    <array>
          <string>Michael Randicha Gunawan Santoso</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Michael_MO</string>
          <string>Someone with Intermediate / Advanced understanding on TableViewController, TableViewCell, InputAccessoryView, TableViewCell&apos;s item&apos;s constraint &amp; Protocol</string>
          <string>Coder : Basic Swift, Intermediate Javascript (Angular &amp; Ionic), Intermediate Laravel, Interested in Flutter</string>
    </array>
    <array>
          <string>Moh. Zinnur Atthufail Addausi</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>A&apos;il_MO</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Najibullah Ulul Albab</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Ulul_MO</string>
          <string>Swift Intermediate, UX Designer</string>
          <string>Code, UI/UX Pattern</string>
    </array>
    <array>
          <string>Natanael Geraldo Santoso</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Natanael_MO</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Nicholas Ang</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Nicholas_MO</string>
          <string></string>
          <string>Videography, Photography, Game Development (Unity), Animation and VFX, Basic Code</string>
    </array>
    <array>
          <string>Nur Afni Zuhrotul Laili</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Afni_MO</string>
          <string></string>
          <string>- basic swift
- passing data between viewcontroller
- set onboarding screen</string>
    </array>
    <array>
          <string>Oktavia Citra Resmi Rachmawati</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Citra_MO</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Rachel Audrey Effendi</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Design</string>
          <string>Rachel_MO</string>
          <string>Basic coding
</string>
          <string>Graphic Design, Branding</string>
    </array>
    <array>
          <string>Rizal Hidayat</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Rizal_MO</string>
          <string>English</string>
          <string>Basic code / basic swift</string>
    </array>
    <array>
          <string>Siti Istiany Tribunda</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Design</string>
          <string>Isti_MO</string>
          <string>-English speaking
-Public speaking
-Team work
- Coding, Swift, UI&amp;UX Design.</string>
          <string>Graphic Design :
Branding
Layout

Social Media Enthusiast :p</string>
    </array>
    <array>
          <string>Steven Wijaya</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>SW_MO</string>
          <string></string>
          <string>Basic Code, Basic Swift, iOS dev, a bit MacOS dev, Laravel, Backend, etc.</string>
    </array>
    <array>
          <string>Taufiq Ramadhany</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Taufiq_MO</string>
          <string></string>
          <string>Basic swift</string>
    </array>
    <array>
          <string>Tony Varian Yoditanto</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Tony_MO</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Wahyu Kharisma Mujiono</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Wahyujus_MO</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Wahyu Saputra</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Wahyu_MO</string>
          <string>Photoeditor, English Speaking</string>
          <string>Basic Coding</string>
    </array>
    <array>
          <string>Winata Arafat Fal Aham</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Tech</string>
          <string>Badai_MO</string>
          <string>UI/UX Design, Swift, English Speaking</string>
          <string>Photography, Basic Coding, Critical Thinking, git, </string>
    </array>
    <array>
          <string>Yonatan Niko Sucahyo</string>
          <string>Junior</string>
          <string>Morning</string>
          <string>Other</string>
          <string>Niko_MO</string>
          <string>basic coding, graphic Design</string>
          <string>Business Management</string>
    </array>
    <array>
          <string>Ari Kurniawan</string>
          <string>Senior</string>
          <string>All</string>
          <string>Design Facilitator </string>
          <string>Ari_SE</string>
          <string>Basic coding</string>
          <string>Graphic Design (layout/composition, typography, branding), HIG, UI/UX</string>
    </array>
    <array>
          <string>Bayu Prasetya</string>
          <string>Senior</string>
          <string>All</string>
          <string>Design Facilitator </string>
          <string>Bayu_SE</string>
          <string></string>
          <string>Visual Branding, Design Thinking, Development Process, UI/UX, Nemenin Mikir, Makan-makan (soon)</string>
    </array>
    <array>
          <string>Dickson Leonard</string>
          <string>Senior</string>
          <string>All</string>
          <string>Academy Manager</string>
          <string>Dickson_SE</string>
          <string></string>
          <string>Coding basics (algorithm, data structure, operations)
App development process (problem definition, ideation, prototyping, production), Basic UX, Professional skills (leadership, communication)</string>
    </array>
    <array>
          <string>Fanny Halim</string>
          <string>Senior</string>
          <string>All</string>
          <string>Coding Facilitator </string>
          <string>Fanny_SE</string>
          <string>English Speaking \^0^/</string>
          <string>Basic iOS Development
(Swift, XCode, Auto Layout, Data Collection)
Discussion</string>
    </array>
    <array>
          <string>Gabriele Wijasa</string>
          <string>Senior</string>
          <string>All</string>
          <string>Design Facilitator </string>
          <string>Gabriele_SE</string>
          <string></string>
          <string>Graphic Design, UI/UX, Photography</string>
    </array>
    <array>
          <string>Januar Tanzil</string>
          <string>Senior</string>
          <string>All</string>
          <string>Coding Facilitator </string>
          <string>Januar_SE</string>
          <string></string>
          <string>Swift language, IOS Development, Game Development, Software Engineering in general</string>
    </array>
    <array>
          <string>Jaya Pranata</string>
          <string>Senior</string>
          <string>All</string>
          <string>Coding Facilitator </string>
          <string>Jaya_SE</string>
          <string>Graphic Design (layout/composition, typography, branding), UI/UX, problem analysis, basic research, HIG</string>
          <string>Coding basic, Swift Language, Auto Layout, Core Data, Map
</string>
    </array>
    <array>
          <string>John Alan Ketaren</string>
          <string>Senior</string>
          <string>All</string>
          <string>Professional Facilitator </string>
          <string>Ketaren_SE</string>
          <string>Basic Xcode</string>
          <string>Ideation, bringing resources, user testing, business, fintech, Presentation,Networking.</string>
    </array>
    <array>
          <string>Rachmat Kukuh Rahadiansyah</string>
          <string>Senior</string>
          <string>All</string>
          <string>Coding Facilitator </string>
          <string>Kukuh_SE</string>
          <string></string>
          <string>- General iOS app development
- iOS frameworks
- Swift language</string>
    </array>
    <array>
          <string>Yehezkiel Cheryan Tjandra</string>
          <string>Senior</string>
          <string>All</string>
          <string>Professional Facilitator </string>
          <string>Ryan_SE</string>
          <string>Swift/Xcode in general</string>
          <string>English language, Public speaking, Business presentation, Business writing, Business insights</string>
    </array>
    <array>
          <string>Yulibar Husni</string>
          <string>Senior</string>
          <string>All</string>
          <string>Coding Facilitator </string>
          <string>Yulibar_SE</string>
          <string>- Ideation
- English Speaking
- Project Management</string>
          <string>- Swift 
- Ideation
- Animation production</string>
    </array>
    <array>
          <string>Abraham Christopher</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Abraham_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Afitra Mamor Bikhoir</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Afitra_AF</string>
          <string>how to implement crud in swift</string>
          <string>Basic Coding</string>
    </array>
    <array>
          <string>Alessandro Vieri</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Aldo_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Almas Sharfina Puspandam</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Design</string>
          <string>Almas_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Andre Marines Ado Tena Uak</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Matu_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Angelica Irene Christina</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Other</string>
          <string>Ren_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Angelina Chandra</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Angel_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Arinal Haq</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Arinal_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Auriga Aristo</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Riga_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Candra Sabdana Nugroho</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Candra_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Christian Tanjono</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Christian_AF</string>
          <string>&apos;- Advance OOP
- UI Design
- Transition on Swift (Onboarding)</string>
          <string>- Basic Coding
- Basic Programming Algorithm
- Network Troubleshooting
- Achieving your Body Goals

</string>
    </array>
    <array>
          <string>Christopher Kevin Susandji</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Kikis_AF</string>
          <string>SQLite CRUD :(((</string>
          <string>Basic Swift, Basic Coding, Basic UI and Graphic Design, software-related stuffs (e.g. installing Minecraft, uninstalling Fortnite)</string>
    </array>
    <array>
          <string>David Christian Kartamihardja</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>David_AF</string>
          <string>HIG, Layouting, design, UI/UX, English presentation</string>
          <string>Basic swift, basic coding</string>
    </array>
    <array>
          <string>Dimarta Julkha Faradiba</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Marta_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Fauzia Umar</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Zizi_AF</string>
          <string></string>
          <string>basic coding, basic swift, UIUX</string>
    </array>
    <array>
          <string>Felicia Gunadi</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Felicia_AF</string>
          <string>Code, Presentation</string>
          <string>Basic Coding, UI Design, Team Management</string>
    </array>
    <array>
          <string>Harvey Lienardo</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Design</string>
          <string>Harvey_AF</string>
          <string></string>
          <string>Photography, image processing, layout</string>
    </array>
    <array>
          <string>I Putu Andhika Indrastata Widyadhana</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Putu_AF</string>
          <string>Take image data from taken photos</string>
          <string>-Basic Coding, Basic Sketch
-Having Fun</string>
    </array>
    <array>
          <string>Ivan winarto</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Ivan_AF</string>
          <string>present properly in english
</string>
          <string>Basic Coding
Team management</string>
    </array>
    <array>
          <string>Jeremy Endratno</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Jeremy_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Jeslyn Kosasih</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Design</string>
          <string>Jeslyn_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Jessica Ayumi Aris</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Design</string>
          <string>Ayumi_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Jessy The Wirianto </string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Other</string>
          <string>Jessy_AF</string>
          <string>Coding
Design
Communication Skill</string>
          <string>Business Idea
Design Input</string>
    </array>
    <array>
          <string>Joahan Wirasugianto</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Joahan_AF</string>
          <string>- Code
- UI Design</string>
          <string>Code, UI Design, Get Reletionship, Achieving your Body Goals
</string>
    </array>
    <array>
          <string>Jovan Alvin</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Jovan_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Kevin Heryanto</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>KH_AF</string>
          <string>Code, Design, HIG, English Speaking</string>
          <string>Code, Makan-Makan.</string>
    </array>
    <array>
          <string>Kevin Pratama Soedarso</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Kp_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Kezia Lauren Handoyo</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Design</string>
          <string>Kezia_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Krisna Harimurti</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Other</string>
          <string>Krisna_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Livia Angelica Gunawan</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Design</string>
          <string>Livia_AF</string>
          <string></string>
          <string>Basic graphic design stuff (Photoshop, Illustrator), English maybe hehe, copywriting</string>
    </array>
    <array>
          <string>Michelle Caroline Kristanto</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Design</string>
          <string>Michelle_AF</string>
          <string></string>
          <string>Graphic Design (Layouting)</string>
    </array>
    <array>
          <string>Moch Maulana Ardiansyah</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Maul_AF</string>
          <string></string>
          <string>Basic Swift, UI/UX Design, Graphic Design, Layouting, Coding, Logical Thinking</string>
    </array>
    <array>
          <string>Monica Adelya Putri</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Monica_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Muhammad Bangun Agung</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Agung_AF</string>
          <string>Presentation, Collaboration</string>
          <string>Coding, UI Design, Animation</string>
    </array>
    <array>
          <string>Muhammad Faisal Febrianto</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Faisal_AF</string>
          <string>ui,ux and english speaking</string>
          <string>basic coding</string>
    </array>
    <array>
          <string>Muhammad Naufal Muzaky Sukmana Putra</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Zaky_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Natasha Adeline Wardhana</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Tata_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Richard Santoso</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Richard_AF</string>
          <string></string>
          <string>basic coding, English</string>
    </array>
    <array>
          <string>Ricky Austin Setiabudi</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Ricky_AF</string>
          <string></string>
          <string>Layouting, Logical Thinking, Basic Swift, photo manipulation, and pushing your score in the game</string>
    </array>
    <array>
          <string>Rini Handini</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Rini_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Ryan Anslyno Khohari</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Ryan_AF</string>
          <string>Code with Model View</string>
          <string>Basic Coding</string>
    </array>
    <array>
          <string>Samantha Teonata</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Design</string>
          <string>Sam_AF</string>
          <string></string>
          <string>Graphic Design, bonding and getting along with people, ngeramein acara (BUKAN badut ultah), boosting your confidence (if you feel like you need one), ngobrol dan ngoceh</string>
    </array>
    <array>
          <string>Silviera Dewi Nagari</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Silviera_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Stefany</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Other</string>
          <string>Stefany_AF</string>
          <string>pengen sih bisa gambar wkwk
</string>
          <string>
</string>
    </array>
    <array>
          <string>Timotius Cahyadi</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Timotius_AF</string>
          <string></string>
          <string>Basic Coding, Basic Design</string>
    </array>
    <array>
          <string>Timotius Leonardo Lianoto</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Timol_AF</string>
          <string>Design and how to pick a good colour collaboration</string>
          <string>Code Logic, Public Speaking</string>
    </array>
    <array>
          <string>Tivany Hartono</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Design</string>
          <string>Tivany_AF</string>
          <string></string>
          <string>Graphic Design</string>
    </array>
    <array>
          <string>Ulinnuha Nabilah</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Nabilah_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>Victor Wijaya Ngantung</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Other</string>
          <string>Victor_AF</string>
          <string>Coding</string>
          <string>Business
Design Basics</string>
    </array>
    <array>
          <string>Wienona Martha Parlina</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>Wienona_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string>William Sebastian Thedja</string>
          <string>Junior</string>
          <string>Afternoon</string>
          <string>Tech</string>
          <string>William_AF</string>
          <string></string>
          <string></string>
    </array>
    <array>
          <string></string>
          <string></string>
          <string></string>
          <string></string>
          <string></string>
          <string></string>
          <string></string>
    </array>
</array>
</plist>